<div class="header-image" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w1280' + movieDetails?.backdrop_path + ')'"></div>

<div class="movie-container" *ngIf="movieDetails">
  <div class="media-section">
    <img class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movieDetails.poster_path" [alt]="movieDetails.title">
    <div class="video-thumbnail" *ngIf="safeVideoUrl">
      <iframe [src]="safeVideoUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="image-gallery">
      <img *ngFor="let image of movieDetails.images?.backdrops?.slice(0, 4)" [src]="'https://image.tmdb.org/t/p/w300' + image.file_path" [alt]="movieDetails.title">
    </div>
  </div>

  <div class="movie-info">
    <h1 class="movie-title">{{ movieDetails.title }} <span class="release-year">{{ movieDetails.release_date | date:'yyyy' }}</span></h1>
    <p class="tagline">{{ movieDetails.tagline }}</p>
    <div class="description">
      <div class="rating">
        <span class="star">★</span>
        <span class="rating-value">{{ movieDetails.vote_average | number:'1.1-1' }}</span>/10
      </div>
      <div class="details">
        <span>{{ movieDetails.runtime }} min</span>
        <span *ngFor="let genre of movieDetails.genres">{{ genre.name }}</span>
        <span>{{ movieDetails.release_date | date:'dd MMM yyyy' }}</span>
      </div>
    </div>
    <div class="overview">
      <h2>Overview</h2>
      <p>{{ movieDetails.overview }}</p>
    </div>
    <div class="credits">
      <div class="credit-section">
        <h2>Director</h2>
        <p>{{ director }}</p>
      </div>
      <div class="credit-section">
        <h2>Writers</h2>
        <p *ngFor="let writer of writers">{{ writer }}</p>
      </div>
      <div class="credit-section">
        <h2>Stars</h2>
        <div class="cast-list">
          <div class="cast-member" *ngFor="let actor of movieDetails.credits?.cast?.slice(0, 5)">
            <img [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : 'assets/placeholder.jpg'" [alt]="actor.name">
            <p>{{ actor.name }}</p>
            <p class="character">{{ actor.character }}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="button" (click)="addToFavorites()"><span>Adicionar aos favoritos</span></button>
  </div>
</div>

<div *ngIf="!movieDetails" class="loading">
  <p>Loading...</p>
</div>