<body>
  <header>
      <nav>
          <h1 id="sobre" (click)="goToAbout()">About</h1>
          <h1 id="menu" (click)="goToMenu()">Home</h1>
          <h1 id="search" (click)="goToSearch()">Search</h1>
        
      </nav>
  </header>
  <main>
      <h2>Filmes</h2>

      <div class="search-filters">
          <input type="search" placeholder=" pesquisar filmes...">
          <select>
              <option value="" disabled selected>gênero</option>
              <option value="acao">Ação</option>
              <option value="aventura">Aventura</option>
              <option value="comedia">Comédia</option>
          </select>
          <select>
              <option value="" disabled selected>Ano de Lançamento</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
          </select>
          <button>Aplicar Filtros</button>
      </div>

      <div class="movie-grid">
          <div class="movie-card">
              <img src="placeholder-batman.jpg" alt="The Batman">
              <div class="movie-info"> 
                  <h3>The BATMAN</h3>
                  <p>ele é o batman</p>
              </div>
          </div>

          <div class="movie-card">
              <img src="placeholder-mario.jpg" alt="The Super Mario Bros Movie">
              <div class="movie-info">
                  <h3>The Super Mario Bros Movie</h3>
                  <p>descrição do filme</p>
              </div>
          </div>

          <div class="movie-card">
              <img src="placeholder-freddy.jpg" alt="Five Nights at Freddy's">
              <div class="movie-info">
                  <h3>Five Nights at Freddy's</h3>
                  <p>har har har har har har har har haaar har har har, har har har här.</p>
              </div>
          </div>
      </div>
  </main>
</body>