header {
  background-color: #ffffff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
#menu {
  font-weight: 800;
}

#logo {
  color: #d67272;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'parkinsans', sans-serif;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav h1 {
  color: #8B3E3E;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border: 0;
}

#search {
  background-color: #8B3E3E;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}