main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .search-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  input[type="search"],
  select,
  button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px  #ddd;
    box-shadow: 2px 2px 0px 0px rgba(74, 36, 36, 0.2);
    
  }
  
  
  
  input[type="search"] {
    flex-grow: 1;
  }
  
  select {
    min-width: 180px;
  }
  
  button {
    background-color: #4A2424;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3A1C1C;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .movie-card {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
  
  .movie-info {
    padding: 1rem;
  }
  
  .movie-info h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
  }
  
  .movie-info p {
    color: #666;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .search-filters {
        flex-direction: column;
    }
  
    input[type="search"],
    select,
    button {
        width: 100%;
    }
  }

  .movie-card {
    cursor: pointer; /* Faz com que a div tenha o cursor de mão, indicando que é clicável */
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    opacity: 0.8; 
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }