<main>
  <h2>Filmes</h2>


  <div *ngIf="filteredMovies.length">
    <section class="movie-list">
      <h3>Mais Populares</h3>
      <div class="movie-horizontal-scroll">
        <button class="arrow-btn left" (click)="scrollLeft('popular')">&#10094;</button>
        <div class="movie-grid" #popularMoviesGrid>
          <div class="movie-card" *ngFor="let movie of popularMovies" [routerLink]="['/about', movie.id]">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title" />
            <div class="movie-info">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.overview }}</p>
            </div>
          </div>
        </div>
        <button class="arrow-btn right" (click)="scrollRight('popular')">&#10095;</button>
      </div>
    </section>

    <section class="movie-list" *ngFor="let genre of genres">
      <h3>{{ genre.name }}</h3>
      <div class="movie-horizontal-scroll">
        <button class="arrow-btn left" (click)="scrollLeft(genre.id)">&#10094;</button>
        <div class="movie-grid" #genreMoviesGrid>
          <div class="movie-card" *ngFor="let movie of getMoviesByGenre(genre.id)" [routerLink]="['/about', movie.id]">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title" />
            <div class="movie-info">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.overview }}</p>
            </div>
          </div>
        </div>
        <button class="arrow-btn right" (click)="scrollRight(genre.id)">&#10095;</button>
      </div>
    </section>
  </div>
</main>

<app-footer></app-footer>
